@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.sidebar-main {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 13rem;
  height: 100vh;
}

.sidebar-main * {
  margin: 0.5rem 3rem;
  color: #267ccb;
}

.client-card {
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
}

.client-card-name {
  font-weight: bold;
  color: #267ccb;
}

.client-card-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.note-card {
  border: solid 1px black;
  padding: 1rem;
  width: 75%;
}
