@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.sidebar-main {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 13rem;
  height: 100vh;
}

.sidebar-main * {
  margin: 0.5rem 3rem;
  color: #267ccb;
}

.client-card {
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
}

.client-card-name {
  font-weight: bold;
  color: #267ccb;
}

.client-card-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.client-info-overview {
  padding: 1rem;
  max-height: 27rem;
}

.note-card {
  border: solid 1px black;
  padding: 1rem;
  width: 98%;
}

.overview-name {
  display: flex;
}

.overview-name * {
  margin: 0rem 1rem 1rem 0rem;
}

.client-nav-link {
  font-weight: bold;
  font-size: medium;
  color: #267ccb;
  text-decoration: underline;
  margin: 0.07rem 1.5rem 1rem 0rem;
}

.client-nav {
  display: flex;
}

.birth-age {
  display: flex;
  margin-top: 0.25rem;
  margin-right: 2rem;
}

.client-info-overview {
  border: solid black 1px;
}

.main-client-overview {
  display: flex;
}

.client-notes {
  width: 90%;
}

.notes-info {
  display: flex;
  width: 70rem;
}

.chart-note-textarea {
  width: 68%;
  height: 100px;
}

.add-note-btn {
  margin-left: 1rem;
}

.chartnote-date-btn {
  display: flex;
  justify-content: space-between;
  width: 68.5%;
}
