html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.sidebar-main {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1daec71;
  width: 18rem;
  height: 200vh;
  border-right: #e1daec19 2px solid;
  padding: 1rem 0rem;
}

.sidebar-main * {
  margin: 0.5rem 3rem;
  color: #267ccb;
}

.navbar {
  background-color: #a5b1e8 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
  width: 25rem;
}

.nav-btns {
  display: flex;
}
.nav-btn {
  border: transparent solid 1px;
  background-color: transparent;
  font-size: 1rem;
}

.badge {
  background-color: red;
  color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-container {
  margin: 2rem 4rem;
  width: 90%;
}

.email {
  color: #267ccb;
  text-decoration: underline;
}

.client-card-clients {
  border-top: solid 2px #e1daecaf;
  border-bottom: solid 2px #e1daecaf;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  width: 100%;
}

.contact-and-clinician-clients {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.contact-and-clinician-client {
  width: max-content;
}

.contact-and-clinician-client * {
  margin: 0.5rem 0rem;
}

.edit-client-info {
  color: #267ccb;
  text-decoration: underline;
  background-color: transparent;
  border: transparent;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.25rem;
  padding: 0rem;
}

.overview-name,
.client-name,
.therapist-name {
  font-weight: bold;
  color: #267ccb;
  text-decoration: underline;
}

.client-name:hover {
  cursor: pointer;
}

.name-head {
  font-size: 2em;
  margin-right: 3rem;
}

.note-header {
  display: flex;
  align-items: center;
}

.client-overview-sidebar {
  border-top: solid 2px #e1daecaf;
  border-bottom: solid 2px #e1daecaf;
}

.note-card {
  border-top: solid 3px #e1daecaf;
  border-bottom: solid 3px #e1daecaf;
  padding: 1rem;
  width: 98%;
  max-height: 20rem;
  margin: 1rem 0rem;
}

.note-card * {
  margin: 0.5rem;
}

.note-card-showing-more {
  border-top: solid 3px #e1daecaf;
  border-bottom: solid 3px #e1daecaf;
  padding: 1rem;
  width: 98%;
  margin: 1rem 0rem;
  max-height: fit-content;
}

.note-card-showing-more * {
  margin: 0.5rem;
}

.note-title {
  font-size: 1.25rem;
  text-decoration: underline;
  color: #267ccb;
}

.note-title:hover {
  text-decoration: underline;
}

.note-date {
  font-size: 1rem;
}

.DAP-div {
  max-height: 7rem;
  overflow: hidden;
}

.add-progress-note-btn:hover {
  text-decoration: underline;
}

.show-more-btn,
.done-btn {
  color: white;
  background-color: #a5b1e8;
  border: transparent;
  border-radius: 10%;
  padding: 0.5rem;
  font-size: 1rem;
}
.ov-header-note {
  width: 100%;
}

.overview-name {
  display: flex;
}

.overview-name * {
  margin: 0rem 1rem 1rem 0rem;
  color: #267ccb;
  font-size: 2rem;
}

.client-nav-link,
.therapist-nav-link,
.therapist {
  font-weight: bold;
  font-size: medium;
  color: #267ccb;
  text-decoration: underline;
  margin: 0rem 1rem;
  cursor: pointer;
}

.edit-clients-page,
.edit-therapists-page {
  border: none;
  background-color: white;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
}

.edit-clients-page:hover {
  text-decoration: underline;
}

.client-nav {
  display: flex;
  align-items: center;
  height: 1rem;
  margin-bottom: 1rem;
}

.birth-age {
  display: flex;
  margin-right: 2rem;
  font-size: 1.25rem;
}

.birth-age * {
  font-size: 1rem;
}

.client-info-overview {
  border: solid 2px #e1daecaf;
  padding: 1rem;
  max-height: 27rem;
  display: flex;
  flex-direction: column;
}

.client-info {
  color: #267ccb;
  margin: 0rem;
}

.main-client-overview {
  display: flex;
}

.client-notes {
  width: 100%;
}

.notes-info {
  display: flex;
  width: 70rem;
}

.schedule-edit {
  display: flex;
}

.chart-note-form {
  width: 98%;
  border-top: solid 3px #e1daecaf;
  border-bottom: solid 3px #e1daecaf;
  margin: 1.5rem 0rem;
  padding: 1rem;
}

.edit-chartnote-form {
  border: none;
  margin: 0px;
  padding: 0px;
}

.chart-note-textarea {
  width: 100%;
  height: 100px;
  border-left: #267ccb;
  border-right: #267ccb;
}

.add-note-btn {
  height: 50%;
  color: white;
  font-weight: bold;
  background-color: #a5b1e8;
  border-radius: 10%;
  border: transparent;
  padding: 0.5rem;
  font-size: 1rem;
}

.chartnote-date-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.DAP-container {
  display: flex;
  flex-direction: column;
}

.DAP-label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem;
  font-weight: 600;
}

.DAP-text {
  height: 5rem;
  margin: 1rem 0rem 0rem 0rem;
}

.DAP-form-btns {
  display: flex;
  justify-content: flex-end;
}

.signed-n-shared {
  margin-top: 1rem;
  text-align: end;
}

.upcoming-apts {
  border: solid 2px #e1daecaf;
  margin: 0.5rem 0rem;
  padding: 0.75rem;
}

.therapist-card {
  border-top: solid 2px #e1daecaf;
  border-bottom: solid 2px #e1daecaf;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  width: 100%;
}

.therapists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-edit {
  margin: 1rem 0rem;
}

.therapist-card * {
  margin: 0.5rem 0rem;
}

.list-header {
  margin-top: 0rem;
  font-weight: bold;
  font-size: 2rem;
  color: #267ccb;
}

.view-therapist {
  display: flex;
}

.view-therapist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
  width: 85%;
}

.view-therapist-header * {
  margin: 1rem 0rem;
  padding: 0.2rem;
}

.therapist-body-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.therapist-clients {
  margin-left: 1.3rem;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-header {
  margin: 0rem;
}

.search-sort {
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-sort,
.search-clients {
  margin: 0rem 0.5rem;
  height: 2rem;
  font-size: 1rem;
}

.active-select-container {
  margin: 1rem 0rem;
}

.active-select {
  height: 2rem;
  font-size: 1rem;
}

.side-component-label {
  margin: 1rem 0rem;
  color: #267ccb;
  font-weight: bold;
}

.side-component {
  border: solid 2px #e1daecaf;
  padding: 0.5rem;
}

.side-component * {
  font-size: 0.85rem;
}

.side-component-link {
  /* font-weight: bold; */
  color: #267ccb;
  font-size: 0.3rem;
}

.side-component-link:hover {
  text-decoration: underline;
}

.supervisees {
  display: flex;
  flex-direction: column;
}

.main-therapist-overview {
  display: flex;
  flex-direction: column;
}

.side-components {
  margin-top: 3rem;
}

.apt-details {
  border: solid 2px #e1daecaf;
  padding: 1rem;
  color: #267ccb;
  height: 50%;
}

.apt-info-span {
  margin-left: 1rem;
}

.current-apt-info {
  margin-left: 0.1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  border-bottom: solid 2px #e1daecaf;
}
.apt-info-header {
  font-size: 1rem;
  margin: 0rem;
}

.next-prev-head {
  font-size: 0.75rem;
  font-weight: bold;
}

.prev-apt,
.next-apt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #e1daecaf;
  color: #267ccb;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  cursor: pointer;
  height: 15%;
}

.apt-arrow {
  font-size: 3rem;
  color: grey;
  opacity: 60%;
  margin: 0rem;
}

.view-edit-note {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}

.note-containers {
  width: 80%;
}

.DAPForm-container {
  margin-right: 1rem;
}

.progress-note {
  color: #267ccb;
  margin-left: 2rem;
  font-size: 1.75rem;
}

.psychnote {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.psychnote-label {
  margin: 0.5rem 0rem;
  font-weight: 600;
}

.psychnote-text {
  height: 4rem;
  width: 100%;
  margin: 1rem 0rem;
}

.psychnote-btns {
  display: flex;
  justify-content: flex-end;
}
.unsigned-note-card {
  border: solid 2px #e1daecaf;
  margin: 1rem 0rem;
}

.unsigned-thera-status {
  display: flex;
}

.page-numbers-container {
  display: flex;
}

.page-number {
  margin: 2rem;
  color: #267ccb;
  text-decoration: underline;
}

.page-number:hover {
  cursor: pointer;
}

.rbc-event-content {
  max-height: min-content;
  font-size: 1rem;
}

.rbc-calendar {
  height: 50rem !important;
  max-width: 100% !important;
  margin-top: 1rem !important;
}

.rbc-btn-group {
  font-size: 1.5rem;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -webkit-fill-available;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2.5rem;
}

.provider-filters {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem 0rem 0rem;
}
